.DS_Store
FlexUnit4/bin/*
FlexUnit4/target/*
*/bin-debug
FlexUnit4UIListener/bin/*
FlexUnit4CIListener/bin/*
FlexUnit4FluintExtensions/bin/*
FlexUnit4FluintExtensions/target/*
FlexUnit4FluintExtensions/libs/*
FlexUnit4CIListener/target/*
FlexUnit4CIListener/libs/*
FlexUnit4AirCIListener/bin/*
FlexUnit4FlexCoverListener/bin/*
FlexUnit4FlexCoverListener/libs/*
FlexUnit4FlexCoverListener/target/*
FlexUnit4CIListener/bin/*
FlexUnit4AntTasks/target/*
FlexUnit4Test/libs/*
FlexUnit4Test/target/*
FlexUnit4UIListener/libs/*
FlexUnit4UIListener/target/*
.metadata
.actionScriptProperties
*/.settings